html{
  margin: 0;
padding: 0;
background-image: url('./assets/background.webp');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-clip: border-box;
}

body{
  margin: 0;
  padding: 0 0 5rem 0;
  background-color: transparent;
}

.navBar{
  background-color: var(--bs-MWDColor1) !important;
  width: 100%!important;
  margin: 0 auto;
}

.navBarImage{
  height: 5rem;
}

#fadeBorder {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, var(--bs-MWDColor1) 70%);
  height: 20px;
}

#footerbar{
  background-color: var(--bs-MWDColor1) !important;
  height: 30px;
}

#footerFade{
  height: 20px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,var(--bs-MWDColor1)  70%);
  position: fixed; 
  bottom: 28px; 
  width: 100%; 
  z-index: 1; 
}
