html{
  margin: 0;
padding: 0;
background-image: url('./assets/background.webp');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-clip: border-box;
}

body{
  margin: 0;
  padding: 0 0 5rem 0;
  background-color: transparent;
}

.navBar{
  background-color: var(--bs-MWDColor1) !important;
  width: 100%!important;
  margin: 0 auto;
}

.navBarImage{
  height: 5rem;
}

#fadeBorder {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, var(--bs-MWDColor1) 70%);
  height: 20px;
}

#footerbar{
  background-color: var(--bs-MWDColor1) !important;
  height: 30px;
}

#footerFade{
  height: 20px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,var(--bs-MWDColor1)  70%);
  position: fixed; 
  bottom: 28px; 
  width: 100%; 
  z-index: 1; 
}

.rfm-marquee{
  padding: 0 !important;
  margin: 0 0 1px 0 !important;
}

.reportPreviewPill{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 1px 2.5vw 1px 2.5vw;
  border-radius: 15px;
  margin: 0 3vw 0 1vw;
  transition: all 0.25s ease;
}

.reportPreviewPill:hover{
  background-color: white;
  color: var(--bs-SMWDTheme1);
  border: 1px solid var(--bs-SMWDTheme1);
}

.reportPreviewPill:active{
  background-color: var(--bs-SMWDTheme9);
  color: white;
  border: 1px solid white;
}

@media screen and (min-width: 540px) {
  .reportPreviewPill{
    padding: 1px 2.5vw 1px 2.5vw;
    margin: 0 1vw 0 1vw;
  }
}


@media screen and (min-width: 796px) {
  .reportPreviewPill{
    padding: 1px 1vw 1px 1vw;
    margin: 0 0 0 5px;
  }

  .rfm-marquee{
    padding: 1px 0 1px 0 !important;
    margin: 0 0 0 0 !important;
  }
}

.linkToNewsSite{
  color: var(--bs-SMWDTheme1) !important;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.linkToNewsSite:hover{
  color: var(--bs-SMWDTheme9) !important;
}

.reportImage{
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .reportImage {
    width: 100%; 
  }
}

@media screen and (min-width: 576px) {
  .dashBoardDivLastArticle{
    width: 40vw;
  }
}

.dashBoardDivLastArticle{
  transition: all 0.5s ease;
  text-decoration: none;
}

.dashBoardDivLastArticle:hover{
  transform: scale(103%);
}

.articleLinkDashBoard{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  transition: all 0.25s ease;
}

.articleLinkDashBoard:hover{
  background-color: white;
  color: var(--bs-SMWDTheme9) !important;
  border: 1px solid var(--bs-SMWDTheme9) !important;
  transform: scale(103%);
}

.articleLinkDashBoard:active{
  background-color: transparent;
  color: var(--bs-SMWDTheme1) !important;
  border: 1px solid var(--bs-SMWDTheme1) !important;
  transform: scale(103%);
}


.dashBoardDivArticles{
  width: 50%;
}